.story {
    &__title {
        margin-bottom: var(--size-medium);
    }
    &__img {
        margin-bottom: var(--size-big);
        img {
            border-radius: 2rem;
        }
    }

    &__content {
        font-size: 1.25rem;
        color: rgba($color: #000000, $alpha: 0.7);
        *:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 575px) {
        &__content {
            font-size: 1rem;
        }
        &__img {
            img {
                border-radius: 1rem;
            }
        }
    }
}