// GENERAL PROJECT STYLES
:root {
    --primary-bg: #1D3668;
    --size-big: 100px;
    --size-medium: 4rem;

    @media screen and (max-width: 1199px) {
        --size-big: 4rem;
        --size-medium: 3rem;
    }
    @media screen and (max-width: 767px) {
        --size-big: 3rem;
        --size-medium: 2rem;
    }
    @media screen and (max-width: 575px) {
        --size-big: 2rem;
        --size-medium: 1.5rem;
    }
}

html {
    font-size: 16px;
}
.row>* {
    margin-top: 30px;
}

@supports (gap: 30px) {
    .row {
        gap: 30px 0;
    }

    .row>* {
        margin-top: 0;
    }
}
img {
    max-width: 100%;
}
body {
    margin: 0;
    font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    overflow-x: hidden;
    color: #000;
}

h1 {
    font-size: 4rem;
    line-height: 1.15;
}
h2 {
    font-size: 3rem;
    line-height: 1.2;
}
h3 {
    font-size: 2.5rem;
    line-height: 1.2;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: inherit;
}
@media screen and (max-width: 1199px) {
    h1 {
        font-size: 3.25rem;
    }
}
@media screen and (max-width: 991px) {

    h2 {
        font-size: 2.75rem;
    }
    h3 {
        font-size: 2.25rem;
    }
    h4 {
        font-size: 1.75rem;
    }
    h5 {
        font-size: 1.25rem;
    } 
    h6 {
        font-size: 1.125rem;
    }
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 575px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1.125rem;
    } 
    h6 {
        font-size: 1rem;
    }
}

.subtitle {
    opacity: 0.8;
    font-weight: 500;
}

.btn {
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 32px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 400ms;
    &-primary {
        background: #BCFF5E;
        color: #000;
        &:hover {
            background: #8BD8BC;
        }
    }
    &-transparent {
        border: 1px solid currentColor;
        color: inherit;

        &-blue {
            border: 1px solid #1D3668;
            color: #1D3668;
            &:hover {
                background-color: #1D3668;
                border: 1px solid #1D3668;
                color: #fff;
            }

        }
        &-white {
            color: #fff;
            border: 1px solid #fff;
            &:hover {
                background-color: #fff;
                border: 1px solid #fff;
                color: #1D3668;
            }
        }
    }
    &-white {
        background-color: #fff;
        border: 1px solid #fff;
        color: #000;
        &:hover {
            background-color: #8BD8BC;
            border: 1px solid #8BD8BC;
            color: #000;
        }
    }
}
.pre-title {
    color: #70DABA;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 700;
}


.custom-bg {
    background-color: var(--primary-bg);
    position: relative;
    color: #fff;
    overflow: hidden;
    &__inner {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }
    &__element {
        position: absolute;
        z-index: 1;
        border: 15px solid #fff;
        border-radius: 100% 100% 100% 100%;


        &--1 {
            top: 0;
            right: 50%;
            height: 660px;
            width: 500px;
            transform: rotate(-45deg) translate(-50%, -75%);
            opacity: 0.15;
            
        }
        &--2 {
            transform: rotate(25deg) translate(75%, -75%);
            opacity: 0.15;
            top: 50%;
            left: 50%;
            height: 660px;
            width: 500px;

        }
        &--3 {
            bottom: 0;
            left: 50%;
            width: 420px;
            height: 260px;
            transform: rotate(25deg) translateY(75%);
        }
        &--4 {
            top: 50%;
            right: 50%;
            height: 660px;
            width: 500px;
            transform: rotate(25deg) translate(-130%, 0%);
            opacity: 0.15;
        }
        &--5 {
            transform: rotate(25deg) translate(50%, -100%);
            top: 0;
            left: 50%;
            height: 660px;
            width: 500px;

        }
        &--6 {
            bottom: 0;
            left: 50%;
            height: 500px;
            width: 600px;
            opacity: 0.15;
            transform: rotate(-20deg) translate(30%, 30%);
        }
        @media screen and (max-width: 1199px) {
            &--1 {
                transform: rotate(-45deg) translate(-50%, -50%);
            }     
            &--2 {
                transform: rotate(25deg) translate(50%, -50%);
            }      
            &--4 {
                transform: rotate(25deg) translate(-100%, -50%);
            }     
            &--5 {
                transform: rotate(25deg) translate(25%, -75%);
            }     
            &--6 {
                transform: rotate(-25deg) translate(0%, 50%);
            }     
        }

        @media screen and (max-width: 767px) {
            &--1 {
                height: 400px;
                width: 300px;
            }     
            &--2 {
                height: 400px;
                width: 300px;
            }       
            &--4 {
                height: 400px;
                width: 300px;
            }     
            &--5 {
                height: 400px;
                width: 300px;
            }     
            &--6 {
                height: 400px;
                width: 300px;

            }     
        }
        @media screen and (max-width: 575px) {
            &--1 {
                height: 300px;
                width: 200px;
            }     
            &--2 {
                height: 300px;
                width: 200px;
            }       
            &--4 {
                height: 300px;
                width: 200px;
            }     
            &--5 {
                height: 300px;
                width: 200px;
            }     
            &--6 {
                height: 300px;
                width: 200px;

            } 
        }
    }
    &__content {    
        position: relative;
        z-index: 2;
    }
}
@keyframes colorFadeIn {
    from {
        opacity: 0.05;
    }
    to {
        opacity: 0.5;
    }
}
@keyframes colorFadeOut {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0.05;
    }
}



@keyframes customBgAnimation {
    from {
        transform: rotate(0) scale(1);
    }
    to {
        transform: rotate(25deg) scale(0.8);
    }
}

input {
    padding: 1rem;
    color: inherit;
    border-radius: 2rem;
    border: 1px solid currentColor;
    background-color: transparent;
    display: inline-block;
}
.subscribe {
    &__input {
        width: 100%;
        margin-bottom: 1.5rem;
        &::placeholder {
            color: inherit;
        }
    }
    &__btn {
        width: 100%;
    }
}
.text-center {
    text-align: center;
}

.clip-img {
    position: relative;
    clip-path: ellipse(44% 49% at 50% 50%);
    display: inline-block;
    &--right {
        transform: rotate(35deg);
        img {
            transform: rotate(-35deg);
        }
    }
    &--left {
        transform: rotate(-35deg);
        img {
            transform: rotate(35deg);
        }
    }
}
.block {
    padding: 120px 0;
    @media screen and (max-width: 1219px) {
        padding: 100px 0;
    }
    @media screen and (max-width: 991px) {
        padding: 80px 0;
    }
    @media screen and (max-width: 767px) {
        padding: 60px 0;
    }
    @media screen and (max-width: 575px) {
        padding: 40px 0;
    }
}
.sign {
    font-family: 'Dynalight';
    font-size: 60px;
    @media screen and (max-width: 991px) {
        font-size: 3rem;
    }
    @media screen and (max-width: 767px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 575px) {
        font-size: 2rem;
    }
}
.wave {
    background-color: #1D3668;
    color: #fff;
    overflow: hidden;
    .container {
        position: relative;
        z-index: 1;
    }
    &-element {
        position: absolute;
        display: block;
        border: 15px solid #fff;
        z-index: -1;
    }

    &--home &-element {
        &:nth-of-type(1) {
            height: 663px;
            width: 850px;
            top: 0;
            left: 0;
            opacity: 0.15;
            border-radius: 50% 100% 50% 100%;
            transform: translate(-75%, -75%);
        }

        &:nth-of-type(2) {
            height: 663px;
            width: 820px;
            top: 40%;
            right: 0;
            opacity: 0.15;
            border-radius: 100% 50% 100% 50%;
            transform: translate(75%, -50%);
        }
        &:nth-of-type(3) {
            height: 846px;
            width: 342px;
            top: 100%;
            left: 50%;
            border-radius: 100% 75% 100% 50%;
            transform: translate(25%, 0%) rotate(-25deg);
        }
    }

    &--sales-exec &-element {
        &:nth-of-type(1) {
            height: 875px;
            width: 1080px;
            bottom: 100%;
            left: 50%;
            opacity: 0.15;
            border-radius: 50% 100% 50% 100%;
            transform: translate(-50%, 0%);
        }

        &:nth-of-type(2) {
            height: 663px;
            width: 820px;
            top: 100%;
            left: 50%;
            opacity: 0.15;
            border-radius: 50% 100%;
        }
        &:nth-of-type(3) {
            height: 423px;
            width: 846px;
            top: 100%;
            right: calc(100% - 100px);
            border-radius: 100% 100% 100% 50%;
            transform: rotate(-15deg);
        }
    }
    &--about &-element {
        &:nth-of-type(1) {
            height: 875px;
            width: 1080px;
            bottom: 100%;
            left: 50%;
            opacity: 0.15;
            border-radius: 50% 100% 50% 100%;
            transform: translate(-50%, 0%) rotate(10deg);
        }

        &:nth-of-type(2) {
            height: 820px;
            width: 663px;
            top: 100%;
            left: 50%;
            opacity: 0.15;
            border-radius: 50% 100%;
        }
        &:nth-of-type(3) {
            height: 423px;
            width: 846px;
            top: 100%;
            right: calc(100% - 100px);
            border-radius: 100% 100% 100% 50%;
            transform: rotate(-15deg);
        }
    }
    &--sales-leader &-element {
        &:nth-of-type(1) {
            height: 850px;
            width: 663px;
            top: 50%;
            left: 0;
            opacity: 0.15;
            border-radius: 100% 50%;
            transform: translate(-75%, 0%);
        }

        &:nth-of-type(2) {
            height: 663px;
            width: 820px;
            top: 60%;
            left: 50%;
            opacity: 0.15;
            border-radius: 50% 100%;
            // transform: translate(75%, -50%);
        }
        &:nth-of-type(3) {
            height: 342px;
            width: 842px;
            bottom: 50%;
            left: calc(100% - 100px);
            border-radius: 75% 100%;
            // transform: translate(25%, 0%) rotate(-25deg);
        }
    }

    
    &--rev-ops &-element {
        &:nth-of-type(1) {
            height: 875px;
            width: 1080px;
            bottom: 100%;
            right: 50%;
            opacity: 0.15;
            border-radius: 50% 100% 50% 100%;

        }

        &:nth-of-type(2) {
            height: 820px;
            width: 630px;
            top: 100%;
            left: 0;
            opacity: 0.15;
            border-radius: 50%;
            transform: translateX(-50%);
        }
        &:nth-of-type(3) {
            height: 846px;
            width: 500px;
            top: calc(100% + 50px);
            left: 100%;
            border-radius: 50%;
            transform: translateX(-50%);
            // transform: rotate(-15deg);
        }
    }

    &--customer-success &-element {
        &:nth-of-type(1) {
            height: 663px;
            width: 850px;
            top: 0;
            left: 50%;
            opacity: 0.15;
            border-radius: 50% 100% 50% 100%;
            transform: translate(0%, -75%);
        }

        &:nth-of-type(2) {
            height: 663px;
            width: 820px;
            top: 100%;
            right: 33%;
            opacity: 0.15;
            border-radius: 50% 100%;
            // transform: translate(75%, -50%);
        }
        &:nth-of-type(3) {
            height: 400px;
            width: 846px;
            bottom: 100%;
            right: 100%;
            border-radius: 50% 100%;
            // transform:  rotate(-25deg);
        }
    }
    &--founders &-element {
        &:nth-of-type(1) {
            height: 875px;
            width: 1080px;
            bottom: 100%;
            left: 50%;
            opacity: 0.15;
            border-radius: 75% 100%;
            transform: translate(-50%, 25%);
        }

        &:nth-of-type(2) {
            height: 663px;
            width: 820px;
            top: 100%;
            left: 50%;
            opacity: 0.15;
            border-radius: 50% 100%;
            transform: translate(0, -25%);
        }
        &:nth-of-type(3) {
            height: 423px;
            width: 846px;
            top: 100%;
            right: calc(100% - 100px);
            border-radius: 100% 100% 100% 50%;
            transform: rotate(-15deg);
            opacity: 0.15;
        }
    }
    &--contact &-element {
        &:nth-of-type(1) {
            height: 1075px;
            width: 1080px;
            bottom: 100%;
            left: 50%;
            opacity: 0.15;
            border-radius: 50% 100%;
            transform: translate(-50%, 25%);
        }

        &:nth-of-type(2) {
            height: 863px;
            width: 820px;
            top: 100%;
            left: 50%;
            opacity: 0.15;
            border-radius: 50% 100%;
            transform: translate(0, -25%);
        }

    }

}
